/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin-inline: auto;
  padding-block: 100px;
  font-family: var(--main-font);
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding: 120px 16px;
  font-family: var(--accent-font);
  background-color: var(--main-color);
}

.header__title {
  font-size: var(--title-font-size);
}

.header__text {
  font-size: var(--main-font-size);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

.content__section-title,
.content__section-text {
  font-size: var(--card-font-size);
}

.content__section-title {
  padding: 4px 10px;
  font-variation-settings: "wght" 715;
}

.content__section-image-wrapper {
  position: relative;
  margin-block-end: 1px;
}

.content__section-label {
  position: absolute;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--sm-font-size);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--main-color)) {
  .content__section-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
  }
}

@supports not (-webkit-text-stroke: 1px var(--main-color)) {
  .content__section-label {
    text-shadow:
      -1px -1px 0 var(--main-color),
       1px -1px 0 var(--main-color),
      -1px  1px 0 var(--main-color),
       1px  1px 0 var(--main-color);
  }
}
.content__section-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.content__section-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 28px 25px 0;
}

.content__section-text {
  line-height: 21px;
  font-variation-settings: "wght" 410;
}

.content__section-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 25px 25px 20px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 transparent;
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--main-color);
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  width: 130px;
  padding: 8.5px 0 6px;
}

.content__section-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  margin: 0 auto;
  padding: 13px 18px;
}

.content__section-button svg {
  max-width: 28px;
  height: auto;
  color: var(--main-color);
  fill: var(--main-color);
  mix-blend-mode: difference;
}

.content__dialog {
  display: none;
}

.content__dialog::backdrop {
  opacity: 75%;
  background-color: var(--accent-color);
}

.content__dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 341px;
  padding: 30px 40px;
  font-family: var(--accent-font);
  font-size: var(--sm-font-size);
}

.content__dialog-text-wrapper svg {
  flex-shrink: 0;
}

.content__dialog-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.content__dialog-text {
  line-height: 150%;
  text-transform: uppercase;

}

.content__dialog-button {
  padding: 12.5px 4px;
  text-transform: uppercase;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: var(--sm-font-size);
  line-height: 90%;
  mix-blend-mode: difference;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s forwards;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}


.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s forwards;
}

.filter-saturate {
  filter: saturate(110%);
}

.filter-negative {
  filter: invert(75%);
}

.filter-sepia {
  filter: sepia(89%);
}

.filter-hue {
  filter: hue-rotate(90deg);
}

.filter-grayscale {
  filter: grayscale(95%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-mixed {
  filter: grayscale(100%) blur(3px);
}

@media (width >= 376px) {
  .header {
    margin-block-end: 96px;
    padding: 128px 0 130px;
  }
  
  .content__section-button {
    flex-direction: row;
    padding-block-start: 15px;
  }

  .content__section-button svg {
    max-width: 21px;
    height: auto;
  }
}